<?xml version="1.0" encoding="UTF-8"?>
<beans profile="development" xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="packagesToScan">
            <array>
                <value>com.huotu.huobanplus.search.entity</value>
            </array>
        </property>
        <property name="persistenceProvider">
            <bean class="org.eclipse.persistence.jpa.PersistenceProvider"/>
        </property>
        <property name="jpaDialect">
            <bean class="org.springframework.orm.jpa.vendor.EclipseLinkJpaDialect"/>
        </property>

        <property name="jpaPropertyMap">
            <map>
                <entry key="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/mallduobao"/>
                <entry key="javax.persistence.jdbc.user" value="root"/>
                <entry key="javax.persistence.jdbc.password" value="lgh123" />
                <entry key="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver" />
                <entry key="javax.persistence.schema-generation.database.action" value="create"/>
                <entry key="eclipselink.weaving" value="false"/>
                <entry key="eclipselink.logging.level" value="FINE"/>
            </map>
        </property>
    </bean>
</beans>